@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica ,"Montserrat", sans-serif;
    color: #fff;
}

body {
    background-color: #2D2013;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

p {
    line-height: 1.5em;
}

.error {
    color: rgb(255, 0, 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.767);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.767);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.767);
}