.container {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.imageDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  margin-top: 30px;
}

.image,
.addMore {
  width: calc(100%);
  height: 200px;
  cursor: pointer;
  border-radius: 3px;
}

.addMore {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted #fff;
  background: rgba(255, 255, 255, 0.1);
}
