.cateItems {
    display: flex;
    overflow: hidden;
    flex-basis: 50%;
}

.cateItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
    background: rgba(255, 255, 255, 0.2);
    min-width: 31.3%;
    padding: 1.5%;
}