.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
}

.firstFooterPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-bottom: 1px solid #000;
}

.socialIcon {
  display: flex;
  margin-right: 1em;
}

.icon1 ,.icon2, .icon3, .icon4 {
    padding: 5px;
    font-size: 30px;
    height: calc(1em + 5px);
    width: calc(1em + 5px);
    cursor: pointer;
    border-radius: 50%;
  }

  .icon1:hover ,.icon2:hover, .icon3:hover, .icon4:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: .5s;
  }
  
  .icon1>path {
      color: rgb(59, 89, 152);
  }
  
  .icon2>path {
      color: rgb(0, 172, 237);
  }
  
  .icon3>path {
      color: rgb(233, 68, 117);
  }
  
  .icon4>path {
      color: rgb(255, 51, 51);
  }


  @media only screen and (max-width: 1024px) {
    .firstFooterPart {
      flex-direction: column;
    }
  }