.FullImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.FullImage > img {
    max-width: 80%;
}

.close {
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
