.itemsSection {
    width: 74%;
    margin: 0 2%;
}

.itemsSection>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: .5em;
    column-gap: .5em;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: rgba(255, 255, 255, 0.3);
}

.products>img {
    max-width: 100%;
}