.messageForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    
  }
  
  .messageForm > textarea {
    resize: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    padding: .8em;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 100%;
  }
  
  .messageForm > input {
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    padding: .8em;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .subButton {
    width: 7em;
    padding: 0.5em;
    margin: 0 auto;
    transition: 0.3s;
  }
  
  .subButton:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }