.navButton {
    padding: .5em 1.5em;
    margin-right: .5em;
    border: none;
    background: #b17d04;
    cursor: pointer;
}

.navButton:hover {
    background: #7a5809;
    transition: 0.2s ease;
}